<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>
<div th:insert="~{fragments/header :: header}"> </div>
<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.id})}" th:text="${book.name}">VALUE</a>
</div>

<hr/>

<!--<a th:href="@{/books/new}">Добавить книгу</a>-->


</body>
</html>