<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label>Название: <input type="text" th:field="*{name}"/></label>
    <br>
    <label>Описание: <input type="text" th:field="*{description}"/></label>
    <br>
    <label for="author">Выберите автора книги: </label>
    <select th:field="*{idAuthor}" id="author">
        <option th:each="author : ${authors}" th:value="${author.getId()}" th:text="${author.getFullName()}">

        </option>
    </select>
    <input type="submit" value="Создать"/>
</form>


</body>
</html>