<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create book</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label>Название: <input type="text" th:field="*{name}"/></label>
    <br>
    <label>Описание: <input type="text" th:field="*{description}"/></label>
    <br>
    <label for="author">Выберите автора книги: </label>
    <select th:field="*{author}" id="author">
        <option value="">-- Выберите автора --</option>
        <option th:each="author : ${authors}"
                th:value="${author.id}"
                th:text="${author.fullName}">
        </option>
    </select>
    <input type="submit" value="Создать"/>
</form>


</body>
</html>