<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit author</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

</head>
<body>
<div th:insert="~{fragments/header :: header}"> </div>


<form th:method="PATCH" th:action="@{/authors/{id}(id=${author.id})}" th:object="${author}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="fullName">Введите полное имя автора: </label>
    <input type="text" th:field="*{fullName}" id="fullName">

    <input type="submit" VALUE="Обновить">

</form>

</body>
</html>