<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" th:field="*{name}" id="name">
    <br>
    <br>
    <label for="name">Введите описание книги: </label>
    <input type="text" th:field="*{description}" id="description">
    <br>
    <input type="submit" value="Обновить">
</form>
</body>
</html>