<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<p th:text="'Название книги: ' + ${book.name}"></p>
<p th:text="'Описание книги: ' + ${book.description}"></p>
<p th:text="'Автор: ' + ${author.fullName}"></p>

<a th:href="@{/books/{id}/edit(id=${book.id})}">Изменить книгу</a>
<br>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.id})}">
    <input type="submit" value="Удалить книгу"/>
</form>

</body>
</html>