<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Header</title>

    <!-- Общие стили -->
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>

<div th:fragment="header">
    <header class="header">

        <!-- Логотип -->
        <div class="logo">
            <a th:href="@{/main}" class="logo-link" title="Bookly — главная">
                <img th:src="@{/images/logo.svg}" alt="Bookly logo" class="logo-icon"/>
                <span class="logo-text">Bookly</span>
            </a>
        </div>

        <!-- Навигация -->
        <nav class="nav">
            <ul class="nav-links">
                <li><a th:href="@{/books}">Книги</a></li>
                <li><a th:href="@{/authors}">Авторы</a></li>
                <li><a th:href="@{/readers}">Читатели</a></li>

            </ul>
        </nav>

        <!-- Если пользователь вошёл -->
        <div class="nav-links" sec:authorize="isAuthenticated()">
            <a th:href="@{/librarians/{id}(id=${#authentication.principal.librarian.id})}" class="user-link">
                <span sec:authentication="principal.fullName"></span>
            </a>
            <form th:action="@{/logout}" th:method="POST" class="nav-links">
                <button type="submit" class="logout-btn">Выйти</button>
            </form>
        </div>

        <!-- Если пользователь не вошёл -->
        <div class="nav-links" sec:authorize="!isAuthenticated()">
            <a th:href="@{/auth/login}" class="login-btn">Войти</a>
        </div>

    </header>
</div>

</body>
</html>
