<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
<div th:insert="~{fragments/header :: header}"> </div>

<form th:method="PATCH" th:action="@{/readers/{id}(id=${reader.getId()})}" th:object="${reader}">
    <label for="surname">Введите фамилию: </label>
    <input type="text" th:field="*{surname}" id="surname">
    <br/>
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name">
    <br/>
    <label for="email">Введите почту: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>
    <label for="phone_number">Введите номер телефона: </label>
    <input type="text" th:field="*{phoneNumber}" id="phone_number">
    <br/>
    <input type="submit" value="Обновить!">

</form>

</body>
</html>