<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reader</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>

<body>
<div th:insert="~{fragments/header :: header}"> </div>

<p th:text = "${reader.getSurname() + ' ' + reader.getName()}">VALUE</p>
<p th:text="'Номер телефона: ' + ${reader.getPhoneNumber()}">VALUE</p>
<p th:text="'Почта: ' + ${reader.getEmail()}">VALUE</p>

<hr>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id = ${book.getId()})}" th:text="${book.getName()}"></a>
</div>


</body>
</html>